.inner-page {
  header {
    position: static;
  }
  .section-inner {
    .h1 {
      color: $black-color;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 84px */
      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        @include fs-md(84px);
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(84px);
        margin-bottom: 24px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 84px;
        margin-bottom: 48px;
        padding-left: 120px;
      }
      @media (min-width: 1200px) and (min-height: 550px) {
        //0.7
        font-size: calc(84px * 0.6);
        margin-bottom: calc(48px * 0.6);
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        font-size: calc(84px * 0.7);
        margin-bottom: calc(48px * 0.7);
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        font-size: calc(84px * 0.8);
        margin-bottom: calc(48px * 0.8);
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        font-size: calc(84px * 0.9);
        margin-bottom: calc(48px * 0.9);
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        font-size: 84px;
        margin-bottom: 48px;
      }
    }
    .h1-faq {
      color: $black-color;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 32px;
      @include media-breakpoint-up(md) {
        @include fs-md(32px);
        margin-bottom: 20px;
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(32px);
        margin-bottom: 32px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 32px;
        margin-bottom: 32px;
      }
    }
  }
  header + .section-inner {
    padding-top: 16px;
    min-height: calc(100dvh - 60px - 145px);
    @include media-breakpoint-up(md) {
      padding-top: 16px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 16px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 16px;
    }
  }
}
.section-catalog {
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
  }
}
.section-catalog-products {
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
  }
}
.section-about-wash {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  background-color: $body-color;
  h3 {
    margin-bottom: 34px;
  }
  p {
    margin-bottom: 34px;
  }
}
.section-content-add-block {
  padding-top: 40px;
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  background-color: $body-color;
  h3 {
    margin-bottom: 34px;
  }
  p {
    margin-bottom: 34px;
  }
}
.section-content {
  padding-bottom: 40px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
  }
}
.section-catalog-products {
  .wrap-h1-description {
    margin-bottom: 40px;
    @include media-breakpoint-up(sm) {
      margin-bottom: calc(60px * 0.7);
    }
    @include media-breakpoint-up(md) {
      margin-bottom: calc(60px * 0.8);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: calc(60px * 0.9);
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
    }
    h1 {
      margin-bottom: 32px;
    }
  }
}
.section-form-consul {
  padding-bottom: 40px;
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
    padding-top: 0px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
    padding-top: 0px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 80px;
    padding-top: 0px;
  }
  .h3 {
    margin-bottom: 40px;
    @include media-breakpoint-up(sm) {
      margin-bottom: calc(60px * 0.7);
    }
    @include media-breakpoint-up(md) {
      margin-bottom: calc(80px * 0.8);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: calc(80px * 0.9);
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 80px;
    }
  }
}
.section-form-consul-2 {
  padding-bottom: 40px;
  padding-top: 40px;
  @include media-breakpoint-up(md) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
