.section-for-sliders-inside {
  .scrollSwiper-wrapper {
    height: calc(100% - 45px);
    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }
  .img-rectangle {
    display: block;
    width: 75%;
    height: 100%;
    object-fit: cover;
    max-height: 180px;
    margin: 0 auto;
    @include media-breakpoint-up(sm) {
      width: 80%;
      max-height: 300px;
    }
    @include media-breakpoint-up(md) {
      width: 100%;
      max-height: 340px;
    }
    @media (min-width: 1200px) and (min-height: 550px) {
      //0.7
      max-height: calc(536px * 0.6);
    }
    @media (min-width: 1200px) and (min-height: 660px) {
      //0.7
      max-height: calc(536px * 0.7);
    }
    @media (min-width: 1200px) and (min-height: 760px) {
      //0.8
      max-height: calc(536px * 0.8);
    }
    @media (min-width: 1200px) and (min-height: 860px) {
      //0.9
      max-height: calc(536px * 0.9);
    }
    @media (min-width: 1200px) and (min-height: 960px) {
      max-height: 536px;
    }
  }
  .page-inner-1 {
    .row-1 {
      margin-bottom: 20px;
      height: calc(100% - 37px - 20px);
      .h3 {
        margin-bottom: 12px;
        @media (min-width: 1200px) and (min-height: 550px) {
          //0.7
          margin-bottom: calc(34px * 0.6);
        }
        @media (min-width: 1200px) and (min-height: 660px) {
          //0.7
          margin-bottom: calc(34px * 0.7);
        }
        @media (min-width: 1200px) and (min-height: 760px) {
          //0.8
          margin-bottom: calc(34px * 0.8);
        }
        @media (min-width: 1200px) and (min-height: 860px) {
          //0.9
          margin-bottom: calc(34px * 0.9);
        }
        @media (min-width: 1200px) and (min-height: 960px) {
          margin-bottom: 34px;
        }
      }
    }
  }
  .wrap-control-insideSlider {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 24px;
  }
  .line {
    position: relative;
    padding-top: 0px;
    height: 100%;
    &::before {
      content: '';
      width: calc(100vw / 2);
      height: 2px;
      background: $gray;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }
  .insedeSwiper {
    height: 100%;
    .swiper-slide {
      height: 100%;
      height: 240px;
      @include media-breakpoint-up(md) {
        height: 390px;
      }
      @include media-breakpoint-up(lg) {
        height: 390px;
      }
      @include media-breakpoint-up(xl) {
        height: 440px;
      }
      @media (min-width: 1200px) and (min-height: 550px) {
        //0.7
        height: calc(440px * 0.6);
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        height: calc(440px * 0.7);
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        height: calc(440px * 0.8);
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        height: calc(440px * 0.9);
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        height: 440px;
      }
    }
  }
  .page-inner-2 {
    .container-fluid {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .row-1 {
      margin-bottom: 20px;
      .wrap-text {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-top: 10px;
      }
    }
    .p1 {
      text-align: right;
    }
  }
  .page-inner-3 {
    .h4,
    .p1,
    ul li {
      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 22px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 22px;
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        margin-bottom: 16px;
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        margin-bottom: 20px;
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        margin-bottom: 22px;
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        margin-bottom: 24px;
      }
    }
  }
  .page-inner-4 {
    h3,
    .h3 {
      color: $black-color;
      font-family: $font-stack-inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%; /* 31.2px */

      @include media-breakpoint-up(md) {
        font-size: 20px;
        margin-bottom: 14px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 22px;
        margin-bottom: 16px;
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        font-size: 20px;
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        font-size: 20px;
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        font-size: 22px;
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        font-size: 24px;
      }
    }
    .h3,
    .p1,
    h4 {
      margin-bottom: 12px;
      @include media-breakpoint-up(md) {
        margin-bottom: 14px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 14px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 16px;
      }
      @media (min-width: 1200px) and (min-height: 550px) {
        //0.7
        margin-bottom: 14px;
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        margin-bottom: 14px;
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        margin-bottom: 14px;
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        margin-bottom: 16px;
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        margin-bottom: 16px;
      }
    }
    .row-img {
      gap: 12px 0px;
      margin-bottom: 0px;
      @include media-breakpoint-up(md) {
        gap: 20px 0px;
        margin-bottom: 14px;
      }
      @include media-breakpoint-up(lg) {
        gap: 24px 0px;
        margin-bottom: 20px;
      }
      @include media-breakpoint-up(xl) {
        gap: 24px 0px;
        margin-bottom: 20px;
      }
      @media (min-width: 1200px) and (min-height: 550px) {
        //0.6
        margin-bottom: calc(54px * 0.2);
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        margin-bottom: calc(54px * 0.3);
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        margin-bottom: calc(54px * 0.8);
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        margin-bottom: calc(54px * 0.9);
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        margin-bottom: 54px;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (min-width: 1200px) and (min-height: 550px) {
          //0.7
          max-height: 180px;
        }
        @media (min-width: 1200px) and (min-height: 660px) {
          //0.7
          max-height: 200px;
        }
        @media (min-width: 1200px) and (min-height: 760px) {
          //0.8
          max-height: 200px;
        }
        @media (min-width: 1200px) and (min-height: 860px) {
          //0.9
          max-height: 100%;
        }
        @media (min-width: 1200px) and (min-height: 960px) {
          max-height: 100%;
        }
      }
    }
  }
  .page-inner-5 {
    .row-counter {
      gap: 12px 0px;
      @include media-breakpoint-up(md) {
        gap: 30px 0px;
      }
      @include media-breakpoint-up(lg) {
        gap: 40px 0px;
      }
      @media (min-width: 1200px) and (min-height: 550px) {
        //0.7
        gap: calc(40px * 0.6) 0px;
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        gap: calc(40px * 0.7) 0px;
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        gap: calc(40px * 0.8) 0px;
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        gap: calc(40px * 0.9) 0px;
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        gap: 40px 0px;
      }
      .item {
        display: flex;
        width: 100%;
        padding: 12px 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        background-color: $white;
        height: 100%;
        @include media-breakpoint-up(md) {
          gap: 20px;
          padding: 20px 24px;
        }
        @include media-breakpoint-up(lg) {
          gap: 20px;
        }
        @include media-breakpoint-up(xl) {
          gap: 20px;
        }
      }
    }
  }
  .page-inner-7 {
    .contentSlider {
      margin-bottom: 24px;
    }
    .contentSlider-button-next,
    .contentSlider-button-prev {
      position: static;
      margin: 0;
    }
    .text {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 12px;
      @include media-breakpoint-up(md) {
        margin-top: 0px;
        gap: 32px;
      }
    }
    .swiper-bottom {
      text-align: left;
      display: flex;
      gap: 32px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .contentSlider-pagination {
        position: static;
        width: auto;
        color: $black-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
      }
    }
  }
  .page-inner-8 {
    .reviewstSlider {
      margin-bottom: 54px;
      .wrap-img {
        margin-bottom: 24px;
        height: calc(100% - 24px - 12px - 40px);
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .title_name {
        color: $black-color;
        font-family: $font-stack-inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 12px;
        @include media-breakpoint-up(md) {
          font-size: 16px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
        @media (min-width: 1200px) and (min-height: 660px) {
          //0.7
          font-size: 16px;
        }
        @media (min-width: 1200px) and (min-height: 760px) {
          //0.8
          font-size: 18px;
        }
        @media (min-width: 1200px) and (min-height: 860px) {
          //0.9
          font-size: 18px;
        }
        @media (min-width: 1200px) and (min-height: 960px) {
          font-size: 20px;
        }
      }
      .date {
        color: $black-color;
        font-family: $font-stack-inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 14px;
        }
        @media (min-width: 1200px) and (min-height: 660px) {
          //0.7
          font-size: 14px;
        }
        @media (min-width: 1200px) and (min-height: 760px) {
          //0.8
          font-size: 14px;
        }
        @media (min-width: 1200px) and (min-height: 860px) {
          //0.9
          font-size: 14px;
        }
        @media (min-width: 1200px) and (min-height: 960px) {
          font-size: 16px;
        }
      }
    }
    .reviewstSlider-button-next,
    .reviewstSlider-button-prev {
      position: static;
      margin: 0;
    }
    .swiper-bottom {
      text-align: left;
      display: flex;
      gap: 32px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .reviewstSlider-pagination {
        position: static;
        width: auto;
        color: $black-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
        @include media-breakpoint-up(md) {
          font-size: 14px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
      }
    }
  }
  .row-why {
    gap: 12px 0px;
    @include media-breakpoint-up(md) {
      gap: 20px 0px;
    }
    .item {
      display: flex;
      width: 100%;
      min-height: 120px;
      height: 100%;
      padding: 12px;
      align-items: flex-start;
      gap: 10px;
      flex-shrink: 0;
      background: $white;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      @include media-breakpoint-up(md) {
        min-height: 160px;
        padding: 18px;
      }
      @include media-breakpoint-up(lg) {
        min-height: 220px;
        padding: 20px;
      }
      @media (min-width: 1200px) and (min-height: 660px) {
        //0.7
        min-height: 140px;
        padding: 20px;
      }
      @media (min-width: 1200px) and (min-height: 760px) {
        //0.8
        min-height: 180px;
        padding: 22px;
      }
      @media (min-width: 1200px) and (min-height: 860px) {
        //0.9
        min-height: 200px;
        padding: 22px;
      }
      @media (min-width: 1200px) and (min-height: 960px) {
        min-height: 220px;
        padding: 24px;
      }
      .text {
        color: $black-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        b {
          font-weight: 600;
        }
        @include media-breakpoint-up(md) {
          font-size: 16px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 18px;
        }
        @media (min-width: 1200px) and (min-height: 660px) {
          //0.7
          font-size: 16px;
        }
        @media (min-width: 1200px) and (min-height: 760px) {
          //0.8
          font-size: 18px;
        }
        @media (min-width: 1200px) and (min-height: 860px) {
          //0.9
          font-size: 20px;
        }
        @media (min-width: 1200px) and (min-height: 960px) {
          font-size: 20px;
        }
      }
    }
  }
  .img-cover {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 280px;
    object-fit: cover;
    @include media-breakpoint-up(md) {
      max-height: 360px;
    }
    @include media-breakpoint-up(lg) {
      max-height: 400px;
    }
    @media (min-width: 1200px) and (min-height: 660px) {
      //0.7
      max-height: calc(478px * 0.7);
    }
    @media (min-width: 1200px) and (min-height: 760px) {
      //0.8
      max-height: calc(478px * 0.8);
    }
    @media (min-width: 1200px) and (min-height: 860px) {
      //0.9
      max-height: calc(478px * 0.9);
    }
    @media (min-width: 1200px) and (min-height: 960px) {
      max-height: 478px;
    }
  }
}
