.page-1 {
  padding-top: 69px;
  padding-bottom: 15px;
  @include media-breakpoint-up(md) {
    padding-bottom: 44px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 78px;
  }
  &::before {
    content: '';
    width: 60%;
    height: 100%;
    background-color: $body-color;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    margin-left: auto;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    @include media-breakpoint-up(lg) {
      background-color: $body-color;
      display: block;
    }
  }

  .container-fluid {
    position: relative;
    z-index: 2;
  }
  .row-1 {
    margin-top: 18px;
    @include media-breakpoint-up(lg) {
      margin-top: 30px;
    }
    .title {
      color: $black-color;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 0px;
      text-indent: 0px;
      @include media-breakpoint-up(md) {
        @include fs-lg(32px);
        text-indent: 0px;
        text-align: left;
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(32px);
        text-indent: 0px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 32px;
        text-indent: 48px;
      }
    }
    .title + .title {
      margin-top: 2px;
      text-indent: 0px;
      margin-bottom: 12px;
      @include media-breakpoint-up(lg) {
        margin-bottom: 0px;
      }
    }
    p {
      color: $black-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      margin-bottom: 0px;
      @include media-breakpoint-up(md) {
        @include fs-lg(16px);
        text-indent: 0px;
        text-align: left;
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(16px);
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
    }
  }
  .p1 {
    color: $black-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    margin-top: 45px;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      @include fs-lg(16px);
    }
    @include media-breakpoint-up(lg) {
      width: 50%;
      @include fs-lg(16px);
    }
    @include media-breakpoint-up(xl) {
      width: 25%;
      font-size: 16px;
    }
  }
  .row-2 {
    margin-top: 57px;
    @include media-breakpoint-up(md) {
      margin-top: 20px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -20px;
    }
    .title {
      color: $black-color;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 30px;
      @include media-breakpoint-up(md) {
        @include fs-md(96px);
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(96px);
        line-height: 70px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 0px;
        font-size: 96px;
        line-height: 70px;
      }
    }
    p {
      color: $black-color;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      margin-bottom: 0px;
      @include media-breakpoint-up(md) {
        @include fs-lg(16px);
        text-indent: 0px;
        text-align: left;
      }
      @include media-breakpoint-up(lg) {
        @include fs-lg(16px);
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
    }

    .p2 {
      margin-top: 0px;
      margin-bottom: 0px;
      @include media-breakpoint-up(xl) {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .p3 {
      margin-bottom: 12px;
      width: 95%;
      @include media-breakpoint-up(md) {
        margin-bottom: 0px;
      }
    }
  }
  .wrap-button {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
  }
}
