.page-6 {
  .container-fluid {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .h3 {
    max-width: 710px;
    margin-bottom: 12px;
    margin-left: 0px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
      margin-left: 40px;
    }
    @media (min-width: 1200px) and (min-height: 550px) {
      //0.7
      margin-bottom: calc(40px * 0.6);
    }
    @media (min-width: 1200px) and (min-height: 660px) {
      //0.7
      margin-bottom: calc(40px * 0.7);
    }
    @media (min-width: 1200px) and (min-height: 760px) {
      //0.8
      margin-bottom: calc(40px * 0.8);
    }
    @media (min-width: 1200px) and (min-height: 860px) {
      //0.9
      margin-bottom: calc(60px * 0.9);
    }
    @media (min-width: 1200px) and (min-height: 960px) {
      margin-bottom: 60px;
    }
  }
  .form {
    padding-left: 0px;
    @include media-breakpoint-up(xl) {
      margin-left: 40px;
    }
  }
  .wrap-button {
    display: none;
    @include media-breakpoint-up(md) {
      display: flex;
      gap: 24px;
      justify-content: flex-end;
    }
  }
}
