.modal {
  .modal-header {
    position: relative;
    border: none;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 40px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 80px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 60px;
    }
    .btn-close {
      width: 30px;
      height: 30px;
      background-color: $black-color;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      margin: 0;
      opacity: 1;
      border-radius: 0;
      @include transition(0.3s);
      &:hover {
        opacity: 0.9;
      }
      @include media-breakpoint-up(md) {
        width: 36px;
        height: 36px;
      }
      @include media-breakpoint-up(lg) {
        width: 48px;
        height: 48px;
      }
    }
    .modal-title {
      color: $black-color;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      @include media-breakpoint-up(md) {
        font-size: 26px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 28px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 32px;
      }
    }
  }
  .modal-body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      padding-top: 0px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(lg) {
      padding-top: 0px;
      padding-left: 60px;
      padding-right: 60px;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 0px;
      padding-left: 120px;
      padding-right: 120px;
      padding-bottom: 80px;
    }
  }
}
.modal-backdrop.show {
  opacity: 0.8;
  background: $black-color;
}
