.wrap-silder {
  position: relative;
  padding-bottom: 20px;
  height: 60%;
  @include media-breakpoint-up(sm) {
    padding-bottom: 0px;
    height: 100%;
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: 0px;
    height: 100%;
  }
  .swiper-pagination {
    text-align: center;
    .swiper-pagination-bullet {
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .swiper-pagination {
      text-align: right;
      .swiper-pagination-bullet {
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .swiper-pagination {
      text-align: right;
      .swiper-pagination-bullet {
        &:last-child {
          margin-right: 40px;
        }
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .swiper-pagination {
      text-align: right;
      .swiper-pagination-bullet {
        &:last-child {
          margin-right: 89px;
        }
      }
    }
  }
  .main-slider {
    // -webkit-mask-image: url('../images/bg-for-slider.png');
    // mask-image: url('../images/bg-for-slider.png');
    // -webkit-mask-size: 100% 100%;
    // mask-size: 100% 100%;
    // -webkit-mask-repeat: round;
    // mask-repeat: round;
    clip-path: polygon(
      0 33%,
      14% 0,
      45% 0,
      48% 5%,
      100% 5%,
      100% 65%,
      85% 100%,
      0 100%
    );
    height: 100%;
  }
  .swiper-slide {
    height: 100%;
    background-position: center;
    background-size: cover;
    /*
    @include media-breakpoint-up(sm) {
      height: 150px;
    }
    @include media-breakpoint-up(md) {
      height: 320px;
    }
    @include media-breakpoint-up(lg) {
      height: 450px;
    }
    @include media-breakpoint-up(xl) {
      height: 518px;
    }
      */
    /*
    @media (min-width: 1200px) and (min-height: 640px) {
      height: 280px;
    }
    @media (min-width: 1200px) and (min-height: 680px) {
      height: 300px;
    }
    @media (min-width: 1200px) and (min-height: 760px) {
      height: 320px;
    }
    @media (min-width: 1200px) and (min-height: 768px) {
      height: 420px;
    }
    @media (min-width: 1200px) and (min-height: 920px) {
      height: 500px;
    }
    @media (min-width: 1200px) and (min-height: 960px) {
      height: 550px;
    }
    @media (min-width: 1200px) and (min-height: 1080px) {
      height: 600px;
    }
    @media (min-width: 1200px) and (min-height: 1440px) {
      height: 800px;
    }
      */
  }
}
